{% extends "base.html" %}

{% load crispy_forms_tags %}

{{ block.super }}
{% block content %}
  <div class="container py-5">
    <div class="row">
        <div class="col-lg-3 col-s-1"></div>
        <div class="col-lg-6 col-s-10">


    <form method="POST">
        {% csrf_token %}
        {{ login_form|crispy }}
<!--        OR -->
{#        {% crispy login_form %} #}
        <button class="btn btn-primary" type="submit">Login</button>

    </form>

        </div>
        <div class="col-lg-3 col-s-1"></div>
    </div>
{% endblock %}
